---
import Icon from './Icon.astro';
---

<section class="box skills">
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="cloud_lightning" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Mõjuala 3 heited</h2>
		<p>CO2 ei ole ainus kasvuhoonegaas. Metaanil ja dilämmastikoksiidil on samuti oluline mõju globaalsele soojenemisele.</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="bird" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Bioloogilise mitmekesisuse vähenemine</h2>
		<p>Ligikaudu pool Eesti territooriumist on kaetud metsadega, kuid vaid üks-kaks protsenti on vanad. Ülejäänud on noored ja juhitud. Eesti kaotab igal aastal umbes 100 000 pesitsevat linnupaari.</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="skull" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Reostus</h2>
		<p>Piirkonna elektroonikajäätmete hulka kuuluvad kütte-, kliima- ja külmutusseadmed, suured seadmed, nagu pesumasinad või ahjud, ja väikesed seadmed, nagu köögiseadmed või tolmuimejad.</p>
	</div>
</section>

<style>
	.box {
		border: 1px solid var(--gray-800);
		border-radius: 0.75rem;
		padding: 1.5rem;
		background-color: var(--gray-999_40);
		box-shadow: var(--shadow-sm);
	}

	.skills {
		display: flex;
		flex-direction: column;
		gap: 3rem;
	}

	.skills h2 {
		font-size: var(--text-lg);
	}

	.skills p {
		color: var(--gray-400);
	}

	@media (min-width: 50em) {
		.box {
			border-radius: 1.5rem;
			padding: 2.5rem;
		}

		.skills {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 5rem;
		}

		.skills h2 {
			font-size: var(--text-2xl);
		}
	}
</style>
